In [4]:
from bs4 import BeautifulSoup 
import requests
import smtplib
import time
import datetime

In [6]:
URL = "https://www.amazon.in/CreativiT-Graphic-Business-D00589-715_Navy-Blue_Medium/dp/B08CHF6Y24/ref=sr_1_5?crid=29A73MQWIST8G&keywords=business+analyst+tshirt&qid=1655574815&sprefix=business+analyst+tshirt%2Caps%2C349&sr=8-5"

In [8]:
headers={"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Safari/537.36 HeyTapBrowser/45.8.2.9"}

In [10]:
page=requests.get(URL,headers=headers) #bringing data

In [21]:
Soup1=BeautifulSoup(page.content,"html.parser") #pullin all html content
Soup2=BeautifulSoup(Soup1.prettify(),"html.parser") #add some formating
title=Soup2.find(id="productTitle").get_text() #specific contents

print(title)

                   CreativiT Graphic Printed T-Shirt for Unisex Mind Your OWN Business Tshirt | Casual Half Sleeve Round Neck T-Shirt | 100% Cotton | D00589-715

In [27]:
title=title.strip()[1:]
print(title)
type(title)

eativiT Graphic Printed T-Shirt for Unisex Mind Your OWN Business Tshirt | Casual Half Sleeve Round Neck T-Shirt | 100% Cotton | D00589-715

str

In [32]:
import datetime
today =datetime.date.today()
print(today)

2022-06-18

In [33]:
import csv
headers= ["Title","Date"]
data = [title,today]
type(data)

list

In [34]:
with open("Amazon web scrapper.csv","w",newline="",encoding="UTF8") as f:
    writer=csv.writer(f)
    writer.writerow(headers) #inserting header
    writer.writerow(data)   #inserting data

In [40]:
import pandas as pd
df=pd.read_csv("/content/Amazon web scrapper.csv")
df

                                               Title        Date
0  eativiT Graphic Printed T-Shirt for Unisex Min...  2022-06-18
1  eativiT Graphic Printed T-Shirt for Unisex Min...  2022-06-18
2  eativiT Graphic Printed T-Shirt for Unisex Min...  2022-06-18

In [39]:
#appending data to csv
with open("Amazon web scrapper.csv","a+",newline="",encoding="UTF8") as f:
    writer=csv.writer(f)
    writer.writerow(data)

In [41]:
def check_price():
   URL = "https://www.amazon.in/CreativiT-Graphic-Business-D00589-715_Navy-Blue_Medium/dp/B08CHF6Y24/ref=sr_1_5?crid=29A73MQWIST8G&keywords=business+analyst+tshirt&qid=1655574815&sprefix=business+analyst+tshirt%2Caps%2C349&sr=8-5"
   headers={"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Safari/537.36 HeyTapBrowser/45.8.2.9"}
   page=requests.get(URL,headers=headers)
   Soup1=BeautifulSoup(page.content,"html.parser") #pullin all html content
   Soup2=BeautifulSoup(Soup1.prettify(),"html.parser") #add some formating
   title=Soup2.find(id="productTitle").get_text() #specific contents
   title=title.strip()[1:]

   import datetime
   today =datetime.date.today()
   print(today)  
   import csv
   headers= ["Title","Date"]
   data = [title,today]
   with open("Amazon web scrapper.csv","a+",newline="",encoding="UTF8") as f:
    writer=csv.writer(f)
    writer.writerow(data)

In [42]:
while(True):
  check_price()
  time.sleep(5)

2022-06-18
2022-06-18
2022-06-18
2022-06-18
2022-06-18
2022-06-18
2022-06-18
2022-06-18
2022-06-18
2022-06-18
2022-06-18

KeyboardInterrupt: ignored

In [43]:
import pandas as pd
df=pd.read_csv("/content/Amazon web scrapper.csv")
df

                                                Title        Date
0   eativiT Graphic Printed T-Shirt for Unisex Min...  2022-06-18
1   eativiT Graphic Printed T-Shirt for Unisex Min...  2022-06-18
2   eativiT Graphic Printed T-Shirt for Unisex Min...  2022-06-18
3   reativiT Graphic Printed T-Shirt for Unisex Mi...  2022-06-18
4   reativiT Graphic Printed T-Shirt for Unisex Mi...  2022-06-18
5   reativiT Graphic Printed T-Shirt for Unisex Mi...  2022-06-18
6   reativiT Graphic Printed T-Shirt for Unisex Mi...  2022-06-18
7   reativiT Graphic Printed T-Shirt for Unisex Mi...  2022-06-18
8   reativiT Graphic Printed T-Shirt for Unisex Mi...  2022-06-18
9   reativiT Graphic Printed T-Shirt for Unisex Mi...  2022-06-18
10  reativiT Graphic Printed T-Shirt for Unisex Mi...  2022-06-18
11  reativiT Graphic Printed T-Shirt for Unisex Mi...  2022-06-18
12  reativiT Graphic Printed T-Shirt for Unisex Mi...  2022-06-18
13  reativiT Graphic Printed T-Shirt for Unisex Mi...  2022-06-18